html, body {
    line-height: 1.2rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(255, 255, 255, 0.40), rgba(0, 0, 0, 0.50));
    transition: all 0.3s ease;
}

/* font-family: 'Amatic SC', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive; */

/*Polo Blue rgb(137, 166, 212) 
 Chetwode Blue rgb(146, 137, 212)
 Monte Carlo  rgb(137, 204, 212)
 Can Can rgb(212, 137, 166)
 Feijoa  rgb(166, 212, 137)
fum rgb(37, 34, 202)
sienna rgb(160,82,45)
*/


.box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1vh;
  column-gap: 2vw;    
  justify-content: center;
  align-items: center;
}

.box > * {
  flex: 1;
}


     input {
                margin: 1%;
                padding: 1%;
                line-height: 1.5rem;
                font-family: 'Amatic SC', cursive;
                font-size: 1.6rem;
                border-radius: 20px;
                text-align: center;
                background-color: rgba(255, 255, 255, .50);
                right: 1vw;
                display: inline;
                }
              input[type=text] { 
                  width: 30%; 
                  -webkit-transition: width 0.15s ease-in-out; 
                  transition: width 0.15s ease-in-out; 
               } 
             
               /* Mobile: 
                  When the input field gets focus, 
                  change its width to 100% */
              input[type=text]:focus { 
                 width: 60%; 
                   background-color: rgba(255, 255, 255, .90);
                 } 

                option {
                    font-family: Century Gothic, sans-serif;
                    text-align: center;
                    align-self: center;
                    padding: 1%;
                    }




    p {
        max-width: 400px;
        min-width: 200px;
        line-height: 1.5em;
        margin: auto;
        padding: 1%;
        text-align: left;
    }
    figure 
    {
        display: inline;
        width: fit-content;
        width: -moz-fit-content;
        max-width: 41%;
        margin-bottom: 5%;
    }

        figcaption {
            width: fit-content;
            width: -moz-fit-content;
            max-width: 32vw;
            font-family: 'Montserrat', sans-serif;
            font-size: .9rem;
            color: rgba(0, 0, 0, .65);
            line-height: 1.3;
            text-indent: 0;
            display: block;
        }

div, header, figure, section img, ul, header nav, body, html, * {
    margin: 0;
    padding: 0;
}

section img {
    display: inline;
    width: 29vw;
    margin: auto;
    align-self: center;
    align-items: center;
    pointer-events: none; 
    padding: 0%;
}

section {
    min-height: 100vh;
    padding-bottom: 7%;
    margin-bottom: 10%;
    padding: 3%;
    max-width: 100vw;
    /* transform-style: preserve-3d; */
}

section, figure, figcaption, subhead, nav {
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}


    h2 {
        font-size: 2.4rem;
        font-family: 'Euphoria Script', cursive;
        margin-bottom: 2%;
        margin-top: 10%;
    }
    h3 {
        font-family: 'Euphoria Script', cursive;
        font-size: 2.2rem;
        margin-bottom: 1%;
        padding: 2%; 
        margin-top: 7%;
        }
     h4 {
         font-family: 'Amatic SC', cursive;
         font-size: 2em;
         padding: 0;
         margin-bottom: 3%;
         margin-top: 5%;
         font-weight: bold;
         position: relative;
      }

    h1 {
        font-size: 8vw;
        margin: auto;
        margin-top: 18%;
        margin-bottom: 1%;
        font-family: 'Oleo Script Swash Caps', cursive;
        padding: 4%;
        color: rgb(137, 204, 212);
        background: -webkit-linear-gradient(rgb(212, 137, 166), rgb(137, 166, 212) );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
         }
    subhead {  color: rgb(137, 204, 212);
        background: -webkit-linear-gradient(rgb(212, 137, 166), rgb(137, 166, 212) );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 50%, auto;
        margin-top: 0px;
        margin-bottom: 5%;
         }
    h1, h2, h3, h4, subhead, nav {
        align-self: center;
        text-align: center;
        }

footer {
    padding-top: 6%;
    padding-bottom: 8%;
    width: 100%;
    left: 0px;
    margin-bottom: 0px;
    margin-top: 12vh;
    background-color: black;
    color: white;
}

footer nav { padding: 2%; }


nav {
    background-color: rgba(137, 204, 212, .65); 
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(137, 204, 212, 0.80) 10%, rgba(255, 255, 255, 0.40) 85%);
    color: white;
    font-family: 'Euphoria Script', cursive;
    font-size: 2.2rem;
    align-items: safe center; 
    max-width: 100vw;
    right: 0px;
    z-index: 1;
}
                 

header nav {
    position: fixed;
    top:0px;
    left: 0px;
    max-width: 100vw;
    padding: 0;
    display: flex;
    z-index: 1;
}


header nav li {
    display: inline-flex;
    max-height: 1em;
    word-spacing: 1.5em;
    margin: 0px auto;
    padding: 1%;
}

header nav ul { display: inline; }
    
aside nav {
    top: 15%;
    position: fixed;
    border-radius: 20px;
    height: auto;
    }

aside nav a {
    padding: 3%;
    min-width: 100%;
    line-height: 1.2em;
    min-height: 100%;
}

ul {
    align-content: space-evenly;
    }

 ul li {     
     list-style: none;
     margin: 2%;
     vertical-align: middle;
    }
ul a{
    border-radius: 25px;
    list-style: none;
    max-height: 100%;
    color: grey;
    padding: 2%;
    size: 100%;
    }

li {
    list-style: none;
    border-radius: 25px;
    }

 li:hover {
    background-color: rgba(0, 0, 0, .50);
    font-weight: bold;
    color: silver;
    }
 li:active {
    background-color: white;
    color: black;
    }

nav li, a:visited {
    color: grey;
    }

a {   
    text-decoration:none;
    margin-left: 0;
    margin-right: 0;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100%;
    height: 100%;
    color: grey;
}
nav img {
    max-width: 14vw;
    left: 1;
    position: relative;
    }


@media (max-width: 680px), screen and (orientation: portrait) {

  
    section { margin: 0px; }
   div section .box {
  display: inline;
    }
    
    nav .box {
        display: flex;
    }
   
aside {
    display: none;
    }
img {
    min-width: 47%;
    max-width: 90%;
    }
      nav img {
         width: 8vw; 
         height: auto;
    }
    
 nav {
       display: flex;
        font-size: 2rem; 
        margin-top: 0px;
                        }   
    
    header nav:onscroll {
        margin-top:-15px;

    }
}
    

