html, body {
    line-height: 1.2rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.5));
    transition: all 0.3s ease;
}

/* font-family: 'Amatic SC', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive; */

/*Polo Blue rgb(137, 166, 212) 
 Chetwode Blue rgb(146, 137, 212)
 Monte Carlo  rgb(137, 204, 212)
 Can Can rgb(212, 137, 166)
 Feijoa  rgb(166, 212, 137)
fum rgb(37, 34, 202)
sienna rgb(160,82,45)
*/


.box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1vh;
  column-gap: 2vw;    
  justify-content: center;
  align-items: center;
}

.box > * {
  flex: 1;
}


     input {
                margin: 1%;
                padding: 1%;
                line-height: 1.5rem;
                font-family: 'Amatic SC', cursive;
                font-size: 1.6rem;
                border-radius: 20px;
                text-align: center;
                background-color|: rgba(255, 255, 255, .5);
                right: 1vw;
                display: inline;
                }
              input[type=text] { 
                  width: 30%; 
                  -webkit-transition: width 0.15s ease-in-out; 
                  transition: width 0.15s ease-in-out; 
               } 
             
               /* When the input field gets focus, 
                    change its width to 100% */
              input[type=text]:focus { 
                 width: 60%; 
                   background-color: rgba(255, 255, 255, .9);
                 } 

                option {
                    font-family: Century Gothic, sans-serif;
                    text-align: center;
                    align-self: center;
                    padding: 1%;
                    }




    p {
        max-width: 400px;
        min-width: 200px;
        line-height: 1.5em;
        margin: auto;
        padding: 1%;
        text-align: left;
    }
    figure 
    {
        display: inline;
        /*width: fit-content;
        width: -moz-fit-content; */
        max-width: 41%;
    }

        figcaption {
            /* width: fit-content;
            width: -moz-fit-content;*/
            max-width: 32vw;
            font-family: 'Montserrat', sans-serif;
            font-size: .9rem;
            font-style: bold;
            color: rgba(0, 0, 0, .65);
            line-height: 1.3;
            text-indent: 0;
            display: block;
        }

div, header, figure, section img, header nav, body, html {
    margin: 0;
    padding: 0;
}

section img {
    display: inline;
   /* width: 30%;
    height: 30%; */
    width: 29vw;
    margin: auto;
    align-self: center;
    align-items: center;
    pointer-events: none; 
    padding: 0%;
}

section {
    min-height: 100vh;
    padding-bottom: 7%;
    margin-bottom: 10%;
    padding: 4%;
    max-width: 100vw;
}

section, figure, figcaption, subhead, nav {
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}


    h2 {
        font-size: 2.4rem;
        font-family: 'Euphoria Script', cursive;
        margin-bottom: 0;
    }

     h4 {
         font-family: 'Amatic SC', cursive;
         font-size: 2em;
         padding: 0;
         margin-bottom: 2%;
         font-weight: bold;
         position: relative;
    }

    h1 {
        font-size: 8vw;
        margin: auto;
        margin-top: 15%;
        margin-bottom: 1%;
        font-family: 'Oleo Script Swash Caps', cursive;
        padding: 4%;
        color: rgb(137, 204, 212);
        background: -webkit-linear-gradient(rgb(212, 137, 166), rgb(137, 166, 212) );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    subhead {  color: rgb(137, 204, 212);
        background: -webkit-linear-gradient(rgb(212, 137, 166), rgb(137, 166, 212) );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 50% auto;
        margin-top: 0px;
        margin-bottom: 5%;
    }
    h1, h2, h3, h4, subhead, nav {
        align-self: center;
        text-align: center;
        }

footer {
    padding-top: 30%;
    padding-bottom: 20%;
    width: 100vw;
    left: 0px;
    margin-bottom: 0px;
    margin-top: 40vh;
    background-color: black;
    color: white;
}

footer nav { padding: 2%; }


nav {
    background-color: rgb(137, 204, 212); 
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(137, 204, 212, 0.8) 10%, rgba(255, 255, 255, 0.4) 85%);
    color: white;
    font-family: 'Euphoria Script', cursive;
    font-size: 3.2vw;
align-items: safe center; 
    max-width: 100vw;
    right: 0px;
    z-index: 1;
}
                 

header nav {
    position: fixed;
    top:0px;
    left: 0px;
    max-width: 100vw;
    padding: 0%;
    display: flex;
}


header nav li {
    display: inline-flex;
    max-height: 1em;
    word-spacing: 2em;
    margin: 0px;
    padding: 1%;
}

header nav ul { display: inline }
    
aside nav {
    top: 15%;
    position: fixed;
    border-radius: 25px;
    height: 75vh;
}
aside nav li a { padding: 6%;
    min-width: 100%;
}

ul {
    padding: 0%;
    margin: 0%;
    align-content: space-evenly;
}

nav ul li a{
    border-radius: 25px;
    list-style: none;
    max-height: 100%;
    color: grey;
}

nav li {
    list-style: none;
    max-height: 90%;
    margin: 5% auto;
    padding: 4%;
    border-radius: 25px;
}

nav li:hover {
    background-color: rgba(0, 0, 0, .5);
    font-weight: bold;
}
nav li:active {
    background-color: white;
    color: black;
}

nav li, a:visited {
    color: grey;
}

h3 { padding: 2%; 
    margin-top: 9%; }

a {   text-decoration:none;
    margin-left: 0;
    margin-right: 0;
    padding: 2%;
    width: 100%;
    color: grey;
}
nav img {
    max-width: 14vw;
    left: 1;
    position: relative;
    }


@media (max-width: 680px), screen and (orientation: portrait) {

  
    section { margin: 0px; }
   div section .box {
  display: inline;
    }
    
    nav .box {
        display: flex;
    }
   
aside {
    display: none;
    }
img {
    min-width: 47%;
    max-width: 90%;
    }
      nav img {
         width: 14vw; 
          height: auto;
    }
    
 nav {
       display: flex;
        font-size: 2rem; 
        margin-top: 0px;
                        }   /*
    header nav:onscroll {
        margin-top:-15px;


}*/
    

