 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Euphoria+Script&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,300&family=Oleo+Script+Swash+Caps&display=swap');

html, body {
    line-height: 1.3rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(255, 255, 255, 0.40), rgba(0, 0, 0, 0.50));
    transition: all 0.3s ease 2s;
    
}

/* font-family: 'Amatic SC', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive; */

/*Polo Blue rgb(137, 166, 212) 
 Chetwode Blue rgb(146, 137, 212)
 Monte Carlo  rgb(137, 204, 212)
 Can Can rgb(212, 137, 166)
 Feijoa  rgb(166, 212, 137)

fum rgb(37, 34, 202)
sienna rgb(160,82,45)
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
    flex: 5;
  row-gap: 2vh;
  column-gap: 1vw;    
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
}

  input {
            margin: 1%;
            padding: 1%;
            line-height: 1.5rem;
            font-family: 'Amatic SC', cursive;
            font-size: 1.6rem;
            border-radius: 20px;
            text-align: center;
            background-color: rgba(255, 255, 255, .50);
            right: 1vw;
            display: inline;
                }
     input[type=text] { 
              width: 30%; 
              -webkit-transition: width 0.15s ease-in-out; 
              transition: width 0.15s ease-in-out; 
               } 
             
               /* Mobile: 
                  When the input field gets focus, 
                  change its width to 100% */
        input[type=text]:focus { 
                width: 60%; 
                background-color: rgba(255, 255, 255, .90);
                 } 

           option {
                    font-family: Century Gothic, sans-serif;
                    text-align: center;
                    align-self: center;
                    padding: 1%;
                    }


 p {
        max-width: 400px;
        min-width: 275px;
        line-height: 1.6em;
        margin: auto;
        padding: 2%;
        text-align: left;
        border-radius: 20px;
        }



    figure {
        display: inline;
        width: fit-content;
        width: -moz-fit-content;
        max-width: 41%;
        margin-bottom: 5%;
        padding-bottom: 4%;
    }

        figcaption {
            width: fit-content;
            width: -moz-fit-content;
            max-width: 29vw;
            font-family: 'Montserrat', sans-serif;
            font-size: .9rem;
            color: rgba(0, 0, 0, .85);
            line-height: 1.3;
            text-indent: 0;
            
        }

div, header, figure, section img, ul, header nav, body, html {
    margin: 0;
    padding: 0;
        }

section img {
    display: inline;
    width: 29vw;
    margin: auto;
    align-self: center;
    align-items: center;
    pointer-events: none; 
    padding: 3%;
    }

video {
    display: inline;
    width:29vw;
    padding: 0%;
    }

section {
    min-height: 100vh;
    padding-bottom: 7%;
    margin-bottom: 10%;
    padding: 3%;
    max-width: 100vw;
    /* transform-style: preserve-3d; */
      scroll-behavior: smooth;
    }

article {
        margin-bottom: 10%;
        padding-bottom: 6%;
}

section, figure, figcaption, subhead, nav {
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    }


    h2 {
        font-size: 2.4rem;
        font-family: 'Euphoria Script', cursive;
        margin-bottom: 2%;
        margin-top: 7%;
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 1%;
        padding: 2%; 
        margin-top: 5%;
        }
     h4 {
         font-family: 'Amatic SC', cursive;
         font-size: 2em;
         padding: 0;
         margin-bottom: 3%;
         margin-top: 4%;
         font-weight: bold;
         position: relative;
      }

    h5 {
        font-size: 1.6rem;
        margin: 7%;
        }

        h6 {
            font-size: 1.2rem;  
            margin-top: 4%;
           }

    h2, h3, h5, h6 {
        font-family: 'Euphoria Script', cursive;
            }

   h1 {
        font-size: 8vw;
        margin: auto;
        margin-top: 18%;
        margin-bottom: 1%;
        font-family: 'Oleo Script Swash Caps', cursive;
        padding: 4%;
        color: rgb(137, 204, 212);
        background: -webkit-linear-gradient(rgb(212, 137, 166), rgb(137, 166, 212) );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
         }

    subhead {  color: rgb(137, 204, 212);
        background: -webkit-linear-gradient(rgb(212, 137, 166), rgb(137, 166, 212) );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 50% auto;
        margin-top: 0px;
        margin-bottom: 5%;
         }

  video, iframe, h1, h2, h3, h4, subhead, nav, ul li, ul li a, a {
        align-self: center;
        text-align: center;
        }

footer {
    padding-top: 6%;
    padding-bottom: 8%;
    width: 100%;
    left: 0px;
    margin-bottom: 0px;
    margin-top: 5vh;
    background-color: black;
    background: linear-gradient(40deg, rgba(0,0,0, .30) 5%, rgba(0,0,0, .80) 90%, rgba(0,0,0, .30) 5%);
    color: white;
    display: block;
    }

section footer, article footer {
    border-radius: 15px;
    padding: 1%;
    line-height: 2rem;
}

footer ul {
     vertical-align: middle;
     align-items: center;
}
footer ul li {
    display: inline-block;
    min-width: 25%;
}

footer ul li ul {
     width: 300%;
      vertical-align: middle;
     align-items: center;
     align-self: center; 
}

footer ul li ul li {
    width: 90%;   
}

footer nav { 
    padding: 2%; 
            }


nav {
    background-color: rgba(137, 204, 212, .65); 
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(137, 204, 212, 0.80) 10%, rgba(255, 255, 255, 0.40) 85%);
    color: white;
    font-family: 'Euphoria Script', cursive;
    font-size: 2.2rem;
    align-items: safe center; 
    max-width: 100vw;
    right: 0px;
    z-index: 1;
    }
                 
header nav {
    position: fixed;
    top:0px;
    left: 0px;
    max-width: 100vw;
    padding: 0;
    display: flex;
    z-index: 2;
    max-height: 25vh; 
    justify-content: space-between;
     z-index: 2;
}

header nav ul { 
    display: inline-flex;
    text-align: center;
    max-height: 100%;
        }

header nav li {
   margin: auto;
    text-align: center;
        }
  
   aside nav {
      top: 18%;
      position: fixed;
      border-radius: 20px;
      height: auto;
          }

ul {
    align-content: space-evenly;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    }

li {
    list-style: none;
    border-radius: 25px;
      }

 ul li {     
     list-style: none;
     margin: 2%;
     vertical-align: middle;
     align-items: center;
    }

a {   
    text-decoration:none;
    margin-left: 0;
    margin-right: 0;
    padding: 1%;
    width: 100%;
    min-height: 100%;
    color: grey;
    line-height: 2rem;   
    color: rgba(137, 204, 212, .85);
    }

 ul a{
    border-radius: 25px;
    list-style: none;
    display: inline-block;
    color: grey;
     width: 100%;
     height: 100%;
     line-height: 1.5rem;
     text-align: center;
     padding: 2%;
    }
a:link {
}

/* STICKY NAV BAR */
#navbar {
  overflow: hidden;
     transition: top 0.3s;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

nav li, a:visited {
    color: rgba(0, 0, 0, 0.8);
    }

a:focus {   
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
a:hover {
    border-radius: 25px;   
    color: rgba(137, 204, 212, 1.0);
        background-color: rgba(0, 0, 0, .50);
    }

 li:hover {
    background-color: rgba(0, 0, 0, .70);
    color: rgba(137, 204, 212, 0.8);
  
    }

a:active {
    box-shadow: 8px 10px 4px 0px rgba(0,0,0,0.2);
    color: pink;
    }

 li:active {
    background-color: white;
    color: black;
    }


nav img {
    max-width: 10vw;
    left: 1%;
    position: relative;
    }

ul img { 
        max-width: 80%; 
        margin: 2% auto;
    }

.dropdown {
  position: relative;
  vertical-align: middle;
  align-items: center;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 7%;
  z-index: 1;
  border-radius: 17px;  
    }
.dropdown:visited .dropdown-content {
  display: none;
    }

.dropdown:hover .dropdown-content {
  display: block;
    }
.dropdown:active .dropdown-content {
  display: block;
    }

.dropdown-content img {
    load: lazy;
   }
 

@media (min-width: 900px), screen and (orientation: landscape) {
    
    
    
    section {
        display: block;
    }
    
    article {
      display: block;
    }
    article.box {
     display: inline-flex;   
    }
    
    footer ul li {
        display: block
            min-width: 90%;
    }
    
    
}

@media (max-width: 680px), screen and (orientation: portrait) {

  
    
 article ul li {
        display: block;        
    }
   
  article.box {
        min-width: 80%;
        display: block;
    }
    
   div .box {
     display: inline-block;
      flex-wrap: wrap;
    }
    
  nav.box {
        display: flex;
    }
   
 aside {
    display: none;
    }
    
 section { margin: 0px; 
    width: 100%;
    }
    
 video, iframe, section img {
    min-width: 70vw;
     width: 75%;
     max-width: 100%;
    }
    
 figure {
        width: 90%;
    }
    
 figcaption {
        width: 70vw;
    }

    
 nav {
        font-size: 1.7rem; 
        margin-top: 0px;
                        }   
    
 header nav:onscroll{
        margin-top:-25px;

    }
    
        
    footer ul li {
        display: block;
        min-width: 90%;
    }
    footer ul li img {
        max-width: 80%;
        margin: 1% auto;
    }
}
    

